<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="pl.dmcs"/>

    <import resource="classpath:config/castle-config.xml"/>
    <bean id="quest" class="pl.dmcs.projektkompetencyjny.domain.Quest" scope="prototype"/>

    <bean id="lancelot" class="pl.dmcs.projektkompetencyjny.domain.Knight" primary="true">

        <constructor-arg index="0" value="Lancelot"/>
        <constructor-arg index="1" value="29"/>
        <property name="quest" ref="quest"/>

    </bean>

    <bean id="percival" class="pl.dmcs.projektkompetencyjny.domain.Knight" scope="prototype">
        <constructor-arg index="0" value="Percival"/>
        <constructor-arg index="1" value="25"/>
        <property name="quest" ref="quest"/>

    </bean>



</beans>